body{
    background-color: rgb(207, 207, 207);
    font-family: Fredoka;
    text-align: center;
}
.afpaphotos{
    background-image: url(/assets/img/paysage.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 30vw;
    border: 2px solid rgb(255, 0, 191);
}
.imgphoto{
    width: 10%;
    border: 2px solid rgb(255, 0, 0);
}
.texte{
    margin: 0 auto;
    border: 2px solid rgb(0, 247, 255);
}
.container{
    display: flex;
    justify-content: center;
}

.ligneimage{
    margin-top: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#imagehtml{
    width: 700px;
    margin: 0 auto;
}